# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
*.egg-info/

# Virtual environments
venv/
virtualenv/
env/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.pyc
*.pyo
*.~*
*.env

# OS files
.DS_Store
Thumbs.db

db.sqlite
